include /blocks/header/header
include /blocks/main-slider/main-slider
include /blocks/container/container
include /blocks/main/main
include /blocks/services/services
include /blocks/community/community
include /blocks/footer/footer

mixin page-main()
	+b.page-main&attributes(attributes)
		+e.overlay
		+header()
		+e.slider-wrap
			+container()
				+main-slider()
		+e.main-wrap
			+container()
				+main()
		+e.services-wrap
			+container()
				+services()
		+e.community-wrap
			+container()
				+community()
		+footer()