include /blocks/header/header
include /blocks/services/services
include /blocks/community/community
include /blocks/footer/footer

mixin page-main()
	+b.page-main&attributes(attributes)
		+e.overlay
		+header()
		+e.services-wrap
			+container()
				+services()
		+e.community-wrap
			+container()
				+community()
		+footer()