.mobile-menu
	display none

	&__button
		position relative
		z-index 30
		top 15px
		left 10px
		width 40px
		height 40px
		cursor pointer
		transition background .5s ease-in
		&:hover
			.mobile-menu__lines
				filter brightness(.7) 
	&__lines,
	&__lines:before,
	&__lines:after
		position absolute
		width 40px
		height 6px
		background-color $blue
		transition transform .3s ease-in

	&__lines
		top 50%
		transform translateY(-50%)
		&:before
			top -12px
			content ''
		&:after
			top 12px
			content ''

	&__nav
		position fixed
		z-index 20
		left -100%
		margin-top -15px
		padding-top 60px
		display flex
		overflow-y auto
		flex-flow column
		width 100%
		text-align center

		background-color $text-blue
		transition .3s ease-in

	&__item
		padding 15px
		background transparent
		border-bottom 1px solid $blue
		transition background .3s ease-in
		&:first-child
			margin-top 5px
			border-top 1px solid $blue
			
		&:hover
			background $blue

	&__link
		font-size 16px
		font-weight 600
		text-decoration none
		text-transform uppercase
		letter-spacing -.5px
		color $text-gray

	&_active
		.mobile-menu
			&__button
				background $text-blue

			&__lines
				background-color transparent

			&__lines:before
				top 50%
				transform rotate(45deg)

			&__lines:after
				top 50%
				transform rotate(-45deg)
				
			&__nav
				left 0

	@media(max-width 600px)
		display block