import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'
@import '../../node_modules/swiper/css/swiper.min.css'

import('../blocks/**/*')

[class^='icon-'], [class*=' icon-']
  /* use !important to prevent issues with browser extensions that change fonts */
	font-family 'icomoon' !important
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

  /* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-search:before
	content '\f002'

.icon-tags:before
	content '\f02c'

.icon-shopping-cart:before
	content '\f07a'

.icon-thumbs-o-up:before
	content '\f087'

.icon-phone:before
	content '\f095'

.icon-twitter:before
	content '\f099'

.icon-facebook:before
	content '\f09a'

.icon-facebook-f:before
	content '\f09a'

.icon-feed:before
	content '\f09e'

.icon-rss:before
	content '\f09e'

.icon-truck:before
	content '\f0d1'

.icon-google-plus:before
	content '\f0d5'

.icon-linkedin:before
	content '\f0e1'

.icon-angle-left:before
	content '\f104'

.icon-angle-right:before
	content '\f105'

.icon-shopping-basket:before
	content '\f291'

