.right-bar
	display flex
	flex-flow column
	width 240px
	&__wrapper-outer
		margin-top 25px
	@media(max-width 1000px)
		margin-left 10px 
		width 200px
	@media(max-width 730px)
		display none
	