mixin product(img, description, price, ribbon)
	+b.product&attributes(attributes)
		if ribbon === 'new'
			+e.ribbon NEW
		else if ribbon === 'sale'	
			+e.ribbon._sale SALE
		+e.wrap
			+e('img').image(src=img)
		+e.bottom-wrap
			+e('a').details(href='#')
				+e('p').name!=description
				+e('span').price!=price
			+e.cart
				+e('a').to-cart(href='#')