mixin people()
	+b.people&attributes(attributes)
		+e.wrap
			+e('img').image(src='/assets/images/face1.png' alt='image')
			+e('img').image(src='/assets/images/face-2.png' alt='image')
			+e('img').image(src='/assets/images/face3.png' alt='image')
			+e('img').image(src='/assets/images/face4.png' alt='image')
		+e.wrap
			+e('img').image(src='/assets/images/face5.png' alt='image')
			+e('img').image(src='/assets/images/face6.png' alt='image')
			+e('img').image(src='/assets/images/face7.png' alt='image')
			+e('img').image(src='/assets/images/face8.png' alt='image')