.people
	margin-top 10px
	margin-bottom 10px
	padding 5px 0
	display flex
	justify-content space-between
	align-items center
	flex-wrap wrap
	height 125px
	border-top 1px solid $light-blue
	border-bottom 1px solid $light-blue
