.header-top
	padding 15px 0
	display flex
	justify-content space-between
	
	&__selects
		display flex

	&__selects-mobile
		display none

	@media(max-width 675px)
		&__selects
			display none
			
		&__selects-mobile
			display flex