include /blocks/icons/icons

mixin contacts()
	+b.contacts&attributes(attributes)
		+e('p').title Contact us
		+e('ul').list
			+e('li').item Leo Store
			+e('li').item Leopards media
			+e('li').item KVM Rpad, 4590GH
			+e('li').item
				+e('a').link(href="tel:+148988880099") +1 489-8888-0099
			+e('li').item
				+e('a').link(href="mailto:mail@email.com") mail@email.com
		+icons()
