mixin select(name, preset, items)
	+b.select&attributes(attributes)
		+e('span').name!=name
		+e.wrap.js-dropdown
			+e('button').field.js-select(type='button')!=preset
			+e('input').js-item(type='hidden' name='language')
			+e('ul').menu.js-select-menu
				each item in items
					+e('li').menu-item
						+e('button').menu-button.js-button(id=item.id)!=item.name
