.cart
	display flex
	align-items center
	font-weight 600
	text-transform uppercase
	text-decoration none
	color $text-gray
	&:before
		margin-right 10px
		padding 10px
		font-family 'icomoon'
		font-size 15px
		font-weight normal
		content '\f07a'
		color #ffffff
		background-color $green
		border-radius 50%
		transition background-color .3s ease-in
	&:hover 
		color $blue

	@media(max-width 360px)
		font-size 14px
		&:before
			margin-right 5px

