.cart
	display flex
	align-items center
	&__text
		margin-left 10px
		font-weight 600
		text-transform uppercase
		text-decoration none
		color $text-gray
		transition color .3s ease-in
		&:hover
			text-decoration underline
			color $blue
	&__icon
		position relative
		display block
		width 37px
		height 37px
		font-size 17px
		font-weight normal
		text-decoration none
		color #ffffff
		background-color $green
		border-radius 50%
		transition background-color .3s ease-in
		&:before
			position absolute
			top 50%
			left 50%
			font-family 'icomoon'
			content '\f07a'
			transform translate(-50%, -50%)
		&:hover
			background-color $blue

	@media(max-width 400px)
		&__icon
			width 34px
			height 34px
			font-size 15px
		&__text
			margin-left 5px
			font-size 13px

