.header-content
	margin 40px 0
	display flex
	justify-content space-between
	align-items center
	&__action
		display flex
		align-items center

	&__main
		display flex
		width 57%
		justify-content space-between
	&__bookmarks
		margin 0 5px 0 8px
		padding 10px
		text-decoration none
		color #ffffff
		background-color $green
		border-radius 50%
		transition background-color .3s ease-in
		&:before
			font-family 'icomoon'
			content '\f02c'
		&:hover 
			background-color $blue

	@media(max-width 900px)
		flex-wrap wrap
		&__main
			padding-bottom 15px
			width 100%
	@media(max-width 550px)
		margin 15px 0
	@media(max-width 360px)
		&__bookmarks
			margin-left 5px
	
