include /blocks/service/service

mixin services()
	+b('section').services&attributes(attributes)
		+service('Free shipping on orders over $100', '#')
		+service('call us! toLl free- 409-8888-0099', '#')._call