include /blocks/product/product

mixin main-content()
	+b.main-content&attributes(attributes)
		+e('section').main-products
			+e('p').title Featured Products
			+e.featured-products
				+product('assets/images/glasses1.png', 'Lorem Ipsum is simply.', '$388.00', 'new')
				+product('assets/images/glasses2.png', 'Nullam vestibulum.', '$90.00')
				+product('assets/images/glasses3.png', 'Donec et lorem suscipit.', '$300.00', 'sale')
				+product('assets/images/glasses4.png', 'Curabitur pretium dui.', '$180.00')
				+product('assets/images/glasses5.png', 'Lorem Ipsum is simply.', '$278.00', 'new')
				+product('assets/images/glasses6.png', 'Sed tempus tellus.', '$378.00')
				+product('assets/images/glasses7.png', 'Lorem Ipsum is simply.', '$500.00', 'new')
				+product('assets/images/glasses8.png', 'Etiam egestas velit.', '$200.00', 'sale')
				+product('assets/images/glasses9.png', 'Mauris viverra magna.', '$370.00', 'new')
		+e('section').staff-pick
			+e('p').title Staff pick
			+e.featured-products
				+product('assets/images/glasses1.png', 'Lorem Ipsum is simply.', '$378.00', 'new')
				+product('assets/images/glasses5.png', 'Lorem Ipsum is simply.', '$278.00')
				+product('assets/images/glasses3.png', 'Curabitur pretium dui.', '$188.00', 'new')
		+e('section').new
			+e('p').title New Products
			+e.featured-products
				+product('assets/images/glasses6.png', 'Sed tempus tellus.', '$90.00', 'new')
				+product('assets/images/glasses3.png', 'Nullam vestibulum.', '$60.00', 'new')
				+product('assets/images/glasses4.png', 'Lorem Ipsum is simply.', '$378.00', 'new')