mixin information()
	+b.information&attributes(attributes)
		+e('p').title Information
		+e('ul').list
			+e('li').item Sed ultrices purus non.
			+e('li').item sodales sodales.
			+e('li').item Curabitur pretium dui vitae.
			+e('li').item Donec gravida mi in nisl 
			+e('li').item faucibus leo condimentum.
			+e('li').item Donec et lorem suscipit.
